asgiref 
astroid==2.4.2
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
defusedxml==0.7.1
diff-match-patch==20200713
Django 
django-3-jet==1.0.8
django-ckeditor==6.1.0
django-extensions==3.1.1
django-image-optimizer==1.0.1
django-import-export==2.5.0
django-js-asset==1.2.2
django-newsfeed==0.8.4
django-newsletter==0.9.1
django-static-sitemaps==4.6.0
django-tinymce==3.3.0
et-xmlfile==1.0.1
feedparser==6.0.2
google-api-core==1.29.0
google-api-python-client==2.7.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==2.10
isort==5.7.0
lazy-object-proxy==1.4.3
ldif3==3.1.1
MarkupPy==1.14
mccabe==0.6.1
numpy==1.20.1
odfpy==1.4.1
openpyxl==3.0.7
packaging==20.9
pandas==1.2.3
Pillow==8.1.2
protobuf==3.17.2
psycopg2 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.6.0
PyMySQL==1.0.2
pyparsing==2.4.7
python-card-me==0.9.3
python-dateutil==2.8.1
python-resize-image==1.1.19
pytz 
PyYAML==5.4.1
requests==2.25.1
rsa==4.7.2
sgmllib3k==1.0.0
six==1.15.0
sorl-thumbnail==12.7.0
sqlparse 
surlex==0.2.0
tablib==3.0.0
tinify==1.5.1
toml==0.10.2
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.5
wincertstore==0.2
wrapt==1.12.1
xlrd==2.0.1
xlwt==1.3.0
